        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Project Source Code</h4>
                        <div class="ui inverted link list">
                            <a href="https://github.com/cameronwc/Database-Project" class="item">GitHub</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Unhelpful Links</h4>
                        <div class="ui inverted link list">
                            <a href="https://monkeydb.uccs.edu/~group5/register.html" class="item">Register</a>
                            <a href="https://monkeydb.uccs.edu/~group5/login.html" class="item">Login</a>
                            <a href="https://monkeydb.uccs.edu/~group5/getLosers.php" class="item">View Losers</a>
                            <a href="https://monkeydb.uccs.edu/~group5/viewUniversities.php" class="item">View University</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>What are you doing at the bottom of the page!?!?! Sroll up and start rating some losers!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./assets/js/script.js"></script>
</html>
